/* FONTS: HEADERS IS LATO, BODY IS PT MONO*/
@font-face { 
    font-family: "Lato Regular";
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato Bold";
    src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato Black";
    src: url("fonts/Lato/Lato-Black.ttf") format("truetype");
}
@font-face {
    font-family: "PT Mono";
    src: url("fonts/PT_Mono/PTMono-Regular.ttf") format("truetype");
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(81, 192, 131);
    color: #05386b;
    font-family: "Lato Regular";;
}

/*-----------------------*/
/* DIV: NAVBAR CONTAINER */
/*-----------------------*/
nav{
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 0.7rem;
}
nav ul{
    list-style: none;
    text-align: end;
    margin-right: 1rem;
}
nav li{
    display: inline-block;
    color: #05386b;
    font-family: "Lato Black";
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 12px;
    padding: 0.5rem 1rem;
}
nav li:hover{
    color: #edf5e1;
}
#contact{
    background-color: #05386b;
    color: #edf5e1;
    border-radius: 5px;
}
#contact:hover{
    background-color: #edf5e1;
    color: #5cdb95;
}

.container{
    width: 90%;
    margin: 0 5%;
    padding: 2rem 0;
}

/*---------------------*/
/* DIV: HOME CONTAINER */
/*---------------------*/
.first{
    width: 80%;
    margin: 7% 10%;
}
.first img{
    float: left;
    width: 400px;
}
.first h1{
    font-family: 'Lato Black';
    font-size: 80px;
    letter-spacing: 0.65rem;
    text-transform: uppercase;
    color: #edf5e1;
    padding-bottom: 2rem;
}
.first p{
    font-family: 'PT Mono';
    text-align: justify;
}



/* DIV: WORK CONTAINER */
.second{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.work{
    padding: 2rem 1.5rem;
    margin: 0 1rem;
    border-radius: 5px;
    background-color: #379683;
    text-align: center;
    /* min-width: 260px; */
}
.work a{
    font-family: "Lato Bold";
    font-size: 14px;
    color: #edf5e1;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.work p{
    font-size: 13px;
}
.work:hover{
    background-color: #8ee4af;
}


/* FOOTER */
footer{
    font-size: 12px;
    margin: 2rem 0;
    text-align: center;
}



/* MEDIA QUERIES */
@media only screen and (min-width: 600px){
    /* make work cards stack */
    .work{
        width: 100%;
    }
}



/* ADDING BOUNCE EFFECT */
.bounce {
    position:fixed;
    left:50%;
    bottom: 20px;
    margin-top:-25px;
    margin-left:-25px;
    height:50px;
    width:50px;
    background:red;
    -webkit-animation:bounce 2s infinite;
    -moz-animation:bounce 2s infinite;
    -o-animation:bounce 2s infinite;
    animation:bounce 2s infinite;
  }
  @-webkit-keyframes bounce {
    0%       { bottom:20px; }
    50%      { bottom:30px; }
    100%     { bottom:20px; }
  }
   @-moz-keyframes bounce {
    0%       { bottom:20px; }
    50%      { bottom:30px; }
    100%     { bottom:20px; }
  }
   @-o-keyframes bounce {
    0%       { bottom:20px; }
    50%      { bottom:30px; }
    100%     { bottom:20px; }
  }
   @keyframes bounce {
    0%       { bottom:20px; }
    50%      { bottom:30px; }
    100%     { bottom:20px; }
  }
  